<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>dalfaro</title>
  <link rel="stylesheet" href="/static/css/index.css" />
</head>

<body>
  <div class="container">
    <div class="avatar">
      <img alt="" src="/static/img/photo.svg" />
    </div>
    <div class="info">
      <p class="name">dalfaro</p>
      <p class="title">full stack dev.<span class="cursor"> </span></p>
    </div>
  </div>
</body>

</html>
