<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>dalfaro</title>
  <link rel="icon" type="image/png" href="/static/img/favicon.png" />
  <link rel="stylesheet" href="/static/css/index.css" />
</head>

<body>
  <div class="banner">
    <p class="text">
      dalfaro@GMT+1:~$ ./me/build/features<span class="mobile-break">
        \<br />
      </span>
      --ship --work --maintainable
    </p>
  </div>
  <div class="container">
    <div class="avatar">
      <img alt="" src="/static/img/photo.svg" />
    </div>
    <div class="info">
      <p class="name">dalfaro</p>
      <p class="title">full stack dev.<span class="cursor"> </span></p>
    </div>
  </div>
  <div class="logos">
    <img src="/static/img/logos/typescript.svg" alt="TypeScript" />
    <img src="/static/img/logos/go.svg" alt="Go" />
    <img src="/static/img/logos/react.svg" alt="React" />
    <img src="/static/img/logos/nextjs-icon-svgrepo-com.svg" style="background-color: white; border-radius: 50%"
      alt="Next.js" />
    <img src="/static/img/logos/mongodb.svg" alt="MongoDB" />
    <img src="/static/img/logos/docker.svg" alt="Docker" />
    <img src="/static/img/logos/gcloud.svg" alt="Google Cloud" />
    <img src="/static/img/logos/springboot.svg" alt="Spring Boot" />
    <img src="/static/img/logos/ansible.svg" alt="Ansible" />
    <img src="/static/img/logos/git.svg" alt="Git" />
    <img src="/static/img/logos/github.svg" style="background-color: white; border-radius: 50%" alt="GitHub" />
    <img src="/static/img/logos/vscode.svg" alt="VS Code" />
    <img src="/static/img/logos/Neovim-mark.svg" alt="Neovim" />
    <img src="/static/img/logos/intellij.svg" alt="IntelliJ" />
  </div>
</body>

</html>
